h1 {
    color: #f48e3f;
    font-size: 40px;
}

body {
    color: #f3bb93; 
    background-color: #b8654e;
}

h1.title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
    color: hwb(22 64% 0%);
}

div.title {
    font-size: 30px;
    color: #f68d8d;
    background-color: #fe712b;
    width: 50%;
    border-radius: 20px;
    padding: 10px;
}