h1 {
    color: blanchedalmond;
    font-size: 40px;
}

body {
    color: chocolate; 
    background-color: rgb(255, 203, 189);
}

h1.title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
    color: #f89962;
}

div.title {
    font-size: 30px;
    color: brown;
    background-color: hwb(21 36% 2%);
    width: 50%;
    border-radius: 20px;
    padding: 10px;
}

#main{
    background-color: cornsilk;
    color:black;
    width: 90%;
    border-radius: 10px;
    padding: 20px;
    font-size: 20px;
    margin-top: 50px;
}